@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer&display=swap');

body {
    background: #22C1C3;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body a {
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    background-color: #FFB95C;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-family: TASA Explorer;
    text-decoration: none;
}

body a:hover {
    background-color: #FF8338;
}

.container {
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    width: 450px;
    text-align: center;
}

.container h1 {
    font-family: Bungee;
}

.container label {
    font-family: TASA Explorer;
    font-weight: 400;
}

.container h2 {
    font-family: Bungee;
}

.container form input {
    width: 80%;
    padding: 8px;
    border: 2px solid #74DBF2;
    border-radius: 6px;
    margin-bottom: 15px;
}

.container form input:focus{
    border-color: #398191;
    outline: none;
}

.container form input::placeholder {
    font-family: TASA Explorer;
    font-style: italic;
}

.container form button {
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  background-color: #FFB95C;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: TASA Explorer;
}

.container form button:hover {
  background-color: #FF8338;
}

.resultado {
  margin-top: 20px;
  text-align: left;
}